.form-duvida input,
.form-duvida textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #E42B41;
  border-radius: 5px;
  text-align: left;
  justify-content: left;
}

.form-duvida button {
  background-color: #E42B41;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.titulinho{
  margin-right: 100%;
  background-color: #ffffff;
}

