body {
    margin: 0;
    background: linear-gradient(to right, #8F2955, #E42B41, #D34E3A);
    background-repeat: no-repeat;
}

.abaixo h1 {
    font-weight: bold;
}

.bem-vindo {
    margin-top: 80px;
    display: block;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bem-vindo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.bem-vindo img {
    width: 360px;
    margin-bottom: 100px;
}

.abaixo {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botao-duvida {
    color: #E42B41;
    background: #ffffff;
    border: solid 1px #E42B41;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    transition: background-color 0.5s;
}

.botao-duvida:hover {
    background-color: #e42b4123;
}

.duvidas {
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* Ajusta os itens em várias linhas */
    justify-content: center; /* Centraliza os itens */
    gap: 30px; /* Espaçamento uniforme entre os itens */
    margin-top: 50px;
}

.duvida {
    background-color: #ffffff;
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(107, 107, 107, 0.2) 0px 7px 29px 0px;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.duvida h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.duvida p {
    flex: 1; 
    font-size: 18px;
    line-height: 1.5;
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto; 
    margin-top: 20px;
    padding-top: 10px;
}

.status-respondido,
.status-nao-respondido {
    display: flex;
    align-items: center;
}

.status-respondido h3 {
    color: #189524;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.status-nao-respondido h3 {
    color: #FC0000;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.feliz,
.triste {
    height: 30px;
}


.triste {
    height: 35px;
    color: #FC0000;
    margin-bottom: 10px;
}

.feliz {
    height: 35px;
    color: #189524;
    margin-bottom: 10px;
}

.mostrar-resposta {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #070707;
    font-weight: bold;
    margin-top: 10px;
}



.mostrar-resposta h4 {
    font-size: 130%;
}

.seta-baixo {
    height: 25px;
    margin-left: 10px;
}

