body {
    margin: 0;
    background: linear-gradient(to right, #8F2955, #E42B41, #D34E3A);
    background-repeat: no-repeat;
}

.abaixo h1 {
    font-weight: bold;
}

.bem-vindo {
    margin-top: 80px;
    display: block;
    color: #ffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bem-vindo h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.bem-vindo img {
    width: 360px;
    margin-bottom: 100px;
}

.abaixo {
    background-color: #ffffff;
    height: 120vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botao-duvida {
    color: #E42B41;
    background: #ffffff;
    border: solid 1px #E42B41;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 250px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: background-color 0.5s;
}

.botao-duvida:hover {
    background-color: #e42b4123;
}

.search-container {
    position: relative;
}

.search-container input[type="search"] {
    padding: 10px;
    font-size: 16px;
    border: solid 0.5px #b4b4b4;
    border-radius: 15px;
    box-shadow: rgba(107, 107, 107, 0.2) 0px 7px 29px 0px;
    padding-right: 300px;
}

.search-container input[type="search"]:focus {
    box-shadow: rgba(105, 105, 105, 0.404) 0px 7px 29px 0px;
    outline: none;
}

.search-container input[type="search"]::placeholder {
    color: #999;
}

.search-container .search-icon {
    position: absolute;
    right: 15px;
    top: 2px;
    font-size: 16px;
    cursor: pointer;
    color: #E42B41;
}

.div-filtros {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: #ffffff;
    width: 570px;
    height: 60px;
    border-radius: 20px;
    box-shadow: rgba(107, 107, 107, 0.2) 0px 7px 29px 0px;
    border: solid 0.5px #b4b4b4;
}

.div-filtro-barra {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.duvida {
    background-color: #ffffff;
    width: 450px;
    border-radius: 30px;
    box-shadow: rgba(107, 107, 107, 0.2) 0px 7px 29px 0px;
    border: 1px solid #ccc;
}

.duvida h2 {
    font-weight: bold;
    margin-top: 30px;
}

.duvida p {
    margin: 50px;
}


.duvidas {
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    display: flex;
    margin-top: 70px;
}

.status {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
    height: 80px;
}

.status-respondido {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.status-respondido h3 {
    color: #189524;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
}

.mostrar-resposta h4 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}


.feliz {
    height: 35px;
    color: #189524;
    margin-bottom: 10px;
}

.seta-baixo {
    height: 25px;
}

.mostrar-resposta {
    display: flex;
    margin-right: 20px;
}

.triste {
    height: 35px;
    color: #FC0000;
    margin-bottom: 10px;
}

.status-nao-respondido {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 50px;
}

.status-nao-respondido h3 {
    color: #FC0000;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
}

.botoes-duvidas {
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    display: flex;
    margin-top: 70px;
}

.botoes-duvidas {
    display: flex;
    flex-direction: column; 
  }
  
